@(message: String)
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                Event Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Is Dual language <br>
                                        <input id="eventDualLanguage" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Event's name</label>
                                    <input id="eventName" class="form-control" placeholder="Event's name">
                                </div>
                                <div class="form-group">
                                    <label>Url</label>
                                    <input id="eventUrl" class="form-control" placeholder="Event's url">
                                </div>
                                <div class="form-group">
                                    <label>Bigtime url</label>
                                    <input id="eventBigtimeUrl" class="form-control" placeholder="Event's url">
                                </div>
                                <div class="form-group">
                                    <label>Logo</label>
                                    <input id="eventLogo" class="form-control" placeholder="Link to event's logo">
                                </div>

                                <div class="form-group">
                                    <label>Introduction</label>
                                    <input id="eventIntro" class="form-control" placeholder="Link to event's introduction image">
                                </div>
                                <div class="form-group">
                                    <label>Instagram</label>
                                    <input id="eventInstagram" class="form-control" placeholder="Link to event's instagram image">
                                </div>

                                <div class="form-group">
                                    <label>Location</label>
                                    <input id="eventLocation" class="form-control" placeholder="Location'name">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input id="eventAddress" class="form-control" placeholder="Location's address">
                                </div>
                                <div class="form-group">
                                    <label>Address - En</label>
                                    <input id="eventAddressEn" class="form-control" placeholder="Location's address - en">
                                </div>

                                @*bootstrap calendar*@
                                <div class="form-group">
                                    <label>Start time</label>
                                    <div style="position: relative">
                                        <div class='input-group date' id='eventSTime'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End time</label>
                                    <div style="position: relative">
                                        <div class='input-group date' id='eventETime'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Display time</label>
                                    <input id="eventDTime" class="form-control" placeholder="Display time">
                                </div>
                                <div class="form-group">
                                    <label>Sponsor's name</label>
                                    <input id="sponsorName" class="form-control" placeholder="Sponsor's name">
                                </div>
                                <div class="form-group">
                                    <label>Sponsor's image</label>
                                    <input id="sponsorImage" class="form-control" placeholder="Sponsor's image">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="eventDescription" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Description - En</label>
                                    <textarea id="eventDescriptionEn" class="form-control" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>ATM<br>
                                            <input id="eventPaymentMethod_7" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>Bank transfer<br>
                                            <input id="eventPaymentMethod_2" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>Visa/Master card<br>
                                            <input id="eventPaymentMethod_3" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>COD<br>
                                            <input id="eventPaymentMethod_4" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>At ticket box<br>
                                            <input id="eventPaymentMethod_5" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    @*<div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>Is COD</label>
                                        <i class="fa fa-toggle-on fa-3x" style="color:green;display:block"></i>
                                    </div>*@
                                </div>
                            </form>


                        </div>

                        <div class="col-lg-6">
                            <div id="banner" class="form-group">
                                <label class="col-lg-5">Add event's banners</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addEventBanners">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div id="eventBlock" class="form-group">
                                <label class="col-lg-5">Add event's block</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addEventBlocks">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div id="ticket" class="form-group">
                                <label class="col-lg-5">Add ticket type</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addTickets">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <button id="submit" type="submit" class="btn btn-default">Submit</button>
                            @*<button type="reset" class="btn btn-default">Reset Button</button>*@
                        </div>
                    </div>
                        <!-- /.row (nested) -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->

    </div>
        <!-- /.row -->
</div>
    <!-- /#page-wrapper -->
<div class="modal fade in" id="addEventBlocks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add event's block</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Short name</label>
                    <input id="addEventBlockShortName" class="form-control" placeholder="Block's short name">
                </div>
                <div class="form-group">
                    <label>Short name - En</label>
                    <input id="addEventBlockShortNameEn" class="form-control" placeholder="Block's short name - en">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="addEventBlockTitle" class="form-control" placeholder="Block's title">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input id="addEventBlockImage" class="form-control" placeholder="Link to image">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="addEventBlockContent" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Content - En</label>
                    <textarea id="addEventBlockContentEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addEventBlock" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editEventBlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit event's block</h4>
            </div>
            <div class="modal-body">
                <div id="editEventBlockId" class="hidden-data"></div>
                <div class="form-group">
                    <label>Short name</label>
                    <input id="editEventBlockShortName" class="form-control" placeholder="Block's short name">
                </div>
                <div class="form-group">
                    <label>Short name - en</label>
                    <input id="editEventBlockShortNameEn" class="form-control" placeholder="Block's short name - en">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="editEventBlockTitle" class="form-control" placeholder="Block's title">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input id="editEventBlockImage" class="form-control" placeholder="Link to image">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="editEventBlockContent" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Content - En</label>
                    <textarea id="editEventBlockContentEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditEventBlock" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="addTickets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add ticket</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Status<br>
                            <input id="addTicketStatus" type="checkbox" checked data-width="100" data-toggle="toggle" data-on="Enabled" data-off="Disabled" style="display: block" data-onstyle="success">
                        </label>
                    </div>

                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No COD<br>
                            <input id="addTicketNoCOD" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No promotion<br>
                            <input id="addTicketNoPromotion" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input id="addTicketName" class="form-control" placeholder="Ticket's name">
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input id="addTicketDisplayName" class="form-control" placeholder="Ticket's display name">
                </div>
                <div class="form-group">
                    <label>Display name - En</label>
                    <input id="addTicketDisplayNameEn" class="form-control" placeholder="Ticket's display name - en">
                </div>
                <div class="form-group" style="padding-bottom:65px">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Min buy</label>
                        <input id="addTicketMinbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block">
                        <label>Max buy</label>
                        <input id="addTicketMaxbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-right:0">
                        <label>Quantity</label>
                        <input id="addTicketQuantity" class="form-control" placeholder="0">
                    </div>
                </div>
                @*bootstrap calendar*@
                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addTicketSTime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addTicketETime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input id="addTicketPrice" class="form-control" placeholder="Price">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea id="addTicketNote" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Note - En</label>
                    <textarea id="addTicketNoteEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addTicket" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit ticket</h4>
            </div>
            <div class="modal-body">
                <div id="editTicketId" class="hidden-data"></div>
                <div class="form-group">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Status<br>
                            <input id="editTicketStatus" type="checkbox" data-on="Enabled" data-off="Disabled" checked data-width="100" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>

                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No COD<br>
                            <input id="editTicketNoCOD" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No promotion<br>
                            <input id="editTicketNoPromotion" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input id="editTicketName" class="form-control" placeholder="Ticket's name">
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input id="editTicketDisplayName" class="form-control" placeholder="Ticket's display name">
                </div>
                <div class="form-group">
                    <label>Display name - En</label>
                    <input id="editTicketDisplayNameEn" class="form-control" placeholder="Ticket's display name - en">
                </div>
                <div class="form-group" style="padding-bottom:65px">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Min buy</label>
                        <input id="editTicketMinbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block">
                        <label>Max buy</label>
                        <input id="editTicketMaxbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-right:0">
                        <label>Quantity</label>
                        <input id="editTicketQuantity" class="form-control" placeholder="0">
                    </div>
                </div>
                @*bootstrap calendar*@
                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editTicketSTime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editTicketETime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input id="editTicketPrice" class="form-control" placeholder="Price">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea id="editTicketNote" class="form-control" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label>Note - En</label>
                    <textarea id="editTicketNoteEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditTicket" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="addEventBanners" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add event's banner</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Banner</label>
                    <input id="addEventBannerUrl" class="form-control" placeholder="Link to event's banner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addEventBanner" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editEventBanners" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit event's banner</h4>
            </div>
            <div class="modal-body">
                <div id="editEventBannerId" class="hidden-data"></div>
                <div class="form-group">
                    <label>Banner</label>
                    <input id="editEventBannerUrl" class="form-control" placeholder="Link to event's banner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditEventBanner" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="alert alert-success fade out alert-dismissible col-md-2 col-md-offset-5" style="margin-top:18px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Your event have been saved!</strong>
</div>

<script src="@routes.Assets.versioned("javascripts/event.create.js")" type="text/javascript"></script>
