@(message: String, event: Event)
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit</h1>
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                Event Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Is Dual language <br>
                                        <input id="eventDualLanguage" @{if(event.is_dual_language == 1) "checked" else ""} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Event's name</label>
                                    <input id="eventName" class="form-control" value="@event.name">
                                </div>
                                <div class="form-group">
                                    <label>Url</label>
                                    <input id="eventUrl" class="form-control" value="@event.url">
                                </div>
                                <div class="form-group">
                                    <label>Bigtime Url</label>
                                    <input id="eventBigtimeUrl" class="form-control" value="@event.bigtime_url">
                                </div>
                                @*TODO: update file picker*@
                                <div class="form-group">
                                    <label>Logo</label>
                                    <input id="eventLogo" class="form-control" value="@event.logo">
                                </div>
                                <div class="form-group">
                                    <label>Introduction</label>
                                    <input id="eventIntro" class="form-control" value="@event.intro">
                                </div>
                                <div class="form-group">
                                    <label>Instagram</label>
                                    <input id="eventInstagram" class="form-control" value="@event.instagram">
                                </div>

                                <div class="form-group">
                                    <label>Location</label>
                                    <input id="eventLocation" class="form-control" value="@event.location">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input id="eventAddress" class="form-control" value="@event.address">
                                </div>
                                <div class="form-group">
                                    <label>Address - En</label>
                                    <input id="eventAddressEn" class="form-control" value="@event.address_en">
                                </div>
                                @*bootstrap calendar*@
                                <div class="form-group">
                                    <label>Start time</label>
                                    <div style="position: relative">
                                        <div class='input-group date' id='eventSTime'>
                                            <input type='text' class="form-control" data-time="@event.start_time" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End time</label>
                                    <div style="position: relative">
                                        <div class='input-group date' id='eventETime'>
                                            <input type='text' class="form-control" data-time="@event.end_time" />
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Display time</label>
                                    <input id="eventDTime" class="form-control" value="@event.display_time">
                                </div>
                                <div class="form-group">
                                    <label>Sponsor's name</label>
                                    <input id="sponsorName" class="form-control" value="@event.sponsor_name">
                                </div>
                                <div class="form-group">
                                    <label>Sponsor's image</label>
                                    <input id="sponsorImage" class="form-control" value="@event.sponsor_image">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea id="eventDescription" class="form-control" rows="3">@event.description</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Description - En</label>
                                    <textarea id="eventDescriptionEn" class="form-control" rows="3">@event.description_en</textarea>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>ATM<br>
                                            <input id="eventPaymentMethod_7" @{if(event.list_payment_method.indexOf("7") < 0) "" else "checked"} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>Bank transfer<br>
                                            <input id="eventPaymentMethod_2" @{if(event.list_payment_method.indexOf("2") < 0) "" else "checked"} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>Visa/Master card<br>
                                            <input id="eventPaymentMethod_3" @{if(event.list_payment_method.indexOf("3") < 0) "" else "checked"} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>COD<br>
                                            <input id="eventPaymentMethod_4" @{if(event.list_payment_method.indexOf("4") < 0) "" else "checked"} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    <div class="col-lg-2" style="display: inline-block;padding-left:0">
                                        <label>At ticket box<br>
                                            <input id="eventPaymentMethod_5" @{if(event.list_payment_method.indexOf("5") < 0) "" else "checked"} type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                                        </label>
                                    </div>

                                    @*<div class="col-lg-2" style="display: inline-block;padding-left:0">
                                    <label>Is COD</label>
                                    <i class="fa fa-toggle-on fa-3x" style="color:green;display:block"></i>
                                    </div>*@
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6">
                            <div id="banner" class="form-group">
                                <label class="col-lg-5">Add event's banners</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addEventBanners">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div id="eventBlock" class="form-group">
                                <label class="col-lg-5">Add event's block</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addEventBlocks">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div id="ticket" class="form-group">
                                <label class="col-lg-5">Add ticket type</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addTickets">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <div id="voucherGroup" class="form-group">
                                <label class="col-lg-5">Add Voucher Group</label>
                                <button type="button" class="btn btn-success btn-circle btn-small" data-toggle="modal" data-target="#addVoucherGroups">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                            <button id="submit" type="submit" class="btn btn-default">Submit</button>
                            @*<button type="reset" class="btn btn-default">Reset Button</button>*@
                        </div>
                    </div>
                        <!-- /.row (nested) -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
            <!-- /.col-lg-12 -->
    </div>
        <!-- /.row -->
</div>
    <!-- /#page-wrapper -->
<div class="modal fade in" id="addEventBlocks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add event's block</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Short name</label>
                    <input id="addEventBlockShortName" class="form-control" placeholder="Block's short name">
                </div>
                <div class="form-group">
                    <label>Short name - en</label>
                    <input id="addEventBlockShortNameEn" class="form-control" placeholder="Block's short name - en">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="addEventBlockTitle" class="form-control" placeholder="Block's title">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input id="addEventBlockImage" class="form-control" placeholder="Link to image">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="addEventBlockContent" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Content - En</label>
                    <textarea id="addEventBlockContentEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addEventBlock" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editEventBlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit event's block</h4>
            </div>
            <div class="modal-body">
                <div id="editEventBlockId" class="hidden-data"></div>
                <div class="form-group">
                    <label>Short name</label>
                    <input id="editEventBlockShortName" class="form-control" placeholder="Block's short name">
                </div>
                <div class="form-group">
                    <label>Short name - En</label>
                    <input id="editEventBlockShortNameEn" class="form-control" placeholder="Block's short name - en">
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input id="editEventBlockTitle" class="form-control" placeholder="Block's title">
                </div>
                <div class="form-group">
                    <label>Image</label>
                    <input id="editEventBlockImage" class="form-control" placeholder="Link to image">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="editEventBlockContent" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Content - En</label>
                    <textarea id="editEventBlockContentEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditEventBlock" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="addTickets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add ticket</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-4" style="display: inline-block;padding-left:0">
                    <label>Status<br>
                        <input id="addTicketStatus" type="checkbox" checked data-width="100" data-toggle="toggle" data-on="Enabled" data-off="Disabled" style="display: block" data-onstyle="success">
                    </label>
                </div>

                <div class="col-lg-4" style="display: inline-block;padding-left:0">
                    <label>No COD<br>
                        <input id="addTicketNoCOD" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>
                </div>
                <div class="col-lg-4" style="display: inline-block;padding-left:0">
                    <label>No promotion<br>
                        <input id="addTicketNoPromotion" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input id="addTicketName" class="form-control" placeholder="Ticket's name">
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input id="addTicketDisplayName" class="form-control" placeholder="Ticket's display name">
                </div>
                <div class="form-group">
                    <label>Display name - En</label>
                    <input id="addTicketDisplayNameEn" class="form-control" placeholder="Ticket's display name - en">
                </div>
                <div class="form-group" style="padding-bottom:65px">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Min buy</label>
                        <input id="addTicketMinbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block">
                        <label>Max buy</label>
                        <input id="addTicketMaxbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-right:0">
                        <label>Quantity</label>
                        <input id="addTicketQuantity" class="form-control" placeholder="0">
                    </div>
                </div>

                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addTicketSTime'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addTicketETime'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input id="addTicketPrice" class="form-control" placeholder="Price">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea id="addTicketNote" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Note - En</label>
                    <textarea id="addTicketNoteEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addTicket" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit ticket</h4>
            </div>
            <div class="modal-body">
                <div id="editTicketId" class="hidden-data" data-id=""></div>
                <div class="form-group">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Status<br>
                            <input id="editTicketStatus" type="checkbox" data-on="Enabled" data-off="Disabled" data-width="100" checked data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>

                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No COD<br>
                            <input id="editTicketNoCOD" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>No promotion<br>
                            <input id="editTicketNoPromotion" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input id="editTicketName" class="form-control" placeholder="Ticket's name">
                </div>
                <div class="form-group">
                    <label>Display name</label>
                    <input id="editTicketDisplayName" class="form-control" placeholder="Ticket's display name">
                </div>
                <div class="form-group">
                    <label>Display name - En</label>
                    <input id="editTicketDisplayNameEn" class="form-control" placeholder="Ticket's display name - en">
                </div>
                <div class="form-group" style="padding-bottom:65px">
                    <div class="col-lg-4" style="display: inline-block;padding-left:0">
                        <label>Min buy</label>
                        <input id="editTicketMinbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block">
                        <label>Max buy</label>
                        <input id="editTicketMaxbuy" class="form-control" placeholder="0">
                    </div>
                    <div class="col-lg-4" style="display: inline-block;padding-right:0">
                        <label>Quantity</label>
                        <input id="editTicketQuantity" class="form-control" placeholder="0">
                    </div>
                </div>
                @*bootstrap calendar*@
                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editTicketSTime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editTicketETime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input id="editTicketPrice" class="form-control" placeholder="Price">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea id="editTicketNote" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>Note - En</label>
                    <textarea id="editTicketNoteEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditTicket" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="addVoucherGroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add event's Voucher Groups</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Use condition
                        <input id="addVoucherGroupUseCondition" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>

                    <label>Use code
                        <input id="addVoucherGroupUseCode" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>
                </div>
                <div class="form-group">
                    <label>Voucher Group name</label>
                    <input id="addVoucherGroupName" class="form-control" placeholder="Voucher Group's name">
                </div>
                <div class="form-group">
                    <label>Voucher Group name - En</label>
                    <input id="addVoucherGroupNameEn" class="form-control" placeholder="Voucher Group's name en">
                </div>
                <div class="form-group">
                    <label>Apply for payment methods: </label>
                    <div class="row" style="padding-left:15px;padding-right:15px">

                        <div class="col-lg-2" style="display: @{if(event.list_payment_method.indexOf("7") < 0) "none" else "block"};padding-left:0">
                            <label style="font-weight: normal">ATM<br>
                                <input id="addVoucherGroupPaymentMethod_7" class="form-control" type="checkbox" data-toggle="toggle" data-onstyle="success">
                            </label>
                        </div>

                        <div class="col-lg-2" style="display: @{if(event.list_payment_method.indexOf("2") < 0) "none" else "block"};padding-left:0">
                            <label style="font-weight: normal">Bank transfer<br>
                                <input id="addVoucherGroupPaymentMethod_2" type="checkbox" data-toggle="toggle" class="form-control" data-onstyle="success">
                            </label>
                        </div>

                        <div class="col-lg-2" style="display: @{if(event.list_payment_method.indexOf("3") < 0) "none" else "block"};padding-left:0">
                            <label style="font-weight: normal">Visa/Master card<br>
                                <input id="addVoucherGroupPaymentMethod_3" type="checkbox" data-toggle="toggle" class="form-control" data-onstyle="success">
                            </label>
                        </div>

                        <div class="col-lg-2" style="display: @{if(event.list_payment_method.indexOf("4") < 0) "none" else "block"};padding-left:0">
                            <label style="font-weight: normal">COD<br>
                                <input id="addVoucherGroupPaymentMethod_4" type="checkbox" data-toggle="toggle" class="form-control" data-onstyle="success">
                            </label>
                        </div>

                        <div class="col-lg-2" style="display: @{if(event.list_payment_method.indexOf("5") < 0) "none" else "block"};padding-left:0">
                            <label style="font-weight: normal">At ticket box<br>
                                <input id="addVoucherGroupPaymentMethod_5" type="checkbox" data-toggle="toggle" class="form-control" data-onstyle="success">
                            </label>
                        </div>

                    @*<div class="col-lg-2" style="display: inline-block;padding-left:0">
                    <label>Is COD</label>
                    <i class="fa fa-toggle-on fa-3x" style="color:green;display:block"></i>
                    </div>*@
                    </div>
                </div>
                <div class="form-group">
                    <label>Voucher Group type</label>
                    <select class="form-control" id="addVoucherGroupType">
                        <option value="1" selected>By percentage</option>
                        <option value="2">By value</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Voucher Group note</label>
                    <input id="addVoucherGroupNote" class="form-control" placeholder="Voucher Group's note">
                </div>
                <div class="form-group">
                    <label>Voucher Group note - En</label>
                    <input id="addVoucherGroupNoteEn" class="form-control" placeholder="Voucher Group's note en">
                </div>
                <div class="form-group">

                </div>
                @*bootstrap calendar*@
                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addVoucherGroupSTime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='addVoucherGroupETime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <label>Voucher Group's detail:</label>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">User will have to buy</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="nTicketToBuy" placeholder="n ticket1 (n <= 5)">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">of ticket type</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="ticketIdTobuy">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">to have</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="nPercentDiscount" placeholder="n%">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">discount for</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="nTicketToget" placeholder="n ticket2 (n <= 5)">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">of ticket type</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="ticketIdToget">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addVoucherGroup" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editVoucherGroups" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit event's Voucher Groups</h4>
            </div>
            <div class="modal-body">
                <div id="editVoucherGroupId"></div>
                <div class="form-group">
                    <label>Use condition
                        <input id="editVoucherGroupUseCondition" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>

                    <label>Use code
                        <input id="editVoucherGroupUseCode" type="checkbox" data-toggle="toggle" style="display: block" data-onstyle="success">
                    </label>
                </div>
                <div class="form-group">
                    <label>Voucher Group name</label>
                    <input id="editVoucherGroupName" class="form-control" placeholder="Voucher Group's name">
                </div>
                <div class="form-group">
                    <label>Voucher Group name - En</label>
                    <input id="editVoucherGroupNameEn" class="form-control" placeholder="Voucher Group's name en">
                </div>
                <div class="form-group">
                    <label>Voucher Group type</label>
                    <select class="form-control" id="editVoucherGroupType">
                        <option value="1">By percentage</option>
                        <option value="2">By value</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Voucher Group note</label>
                    <input id="editVoucherGroupNote" class="form-control" placeholder="Voucher Group's note">
                </div>
                <div class="form-group">
                    <label>Voucher Group note - En</label>
                    <input id="editVoucherGroupNoteEn" class="form-control" placeholder="Voucher Group's note en">
                </div>
                @*bootstrap calendar*@
                <div class="form-group">
                    <label>Start time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editVoucherGroupSTime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>End time</label>
                    <div style="position: relative">
                        <div class='input-group date' id='editVoucherGroupETime'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <label>Voucher Group's detail:</label>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">User will have to buy</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="editnTicketToBuy" placeholder="n ticket1 (n <= 5)">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">of ticket type</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="editticketIdTobuy">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">to have</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="editnPercentDiscount" placeholder="n%">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">discount for</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="editnTicketToget" placeholder="n ticket2 (n <= 5)">
                    </div>
                </div>
                <div class="form-group row">
                    <label style="font-weight: normal" class="col-sm-4 col-form-label">of ticket type</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="editticketIdToget">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditVoucherGroup" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="addEventBanners" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Add event's banner</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Banner</label>
                    <input id="addEventBannerUrl" class="form-control" placeholder="Link to event's banner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="addEventBanner" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="modal fade in" id="editEventBanners" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit event's banner</h4>
            </div>
            <div class="modal-body">
                <div id="editEventBannerId" class="hidden-data"></div>
                <div class="form-group">
                    <label>Banner</label>
                    <input id="editEventBannerUrl" class="form-control" placeholder="Link to event's banner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="saveEditEventBanner" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>

<div class="alert alert-success fade out alert-dismissible col-md-2 col-md-offset-5" style="margin-top:18px;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>Your event have been updated!</strong>
</div>

<div id="jsonId" style="display:none" data-data="@event.event_id" ></div>
<div id="jsonTickets" style="display:none" data-data="@event.tickets" ></div>
<div id="jsonEventBlocks" style="display:none" data-data="@event.event_blocks" ></div>
<div id="jsonVoucherGroups" style="display:none" data-data="@event.voucher_groups" ></div>
<div id="jsonBanners" style="display:none" data-data="@event.banner" ></div>

<script src="@routes.Assets.versioned("javascripts/event.edit.js")" type="text/javascript"></script>
